* {
    margin: 0;
    padding: 0;

}

input, button {

    width: 300px;
    height: 45px;
    margin: 0px 8px;
    text-align: center;
    border-radius: 6px;
    text-indent: 6px;
    margin: 10px auto;
    background-color: #ebebeb;
    border: none;

}

body {
    margin: 0px;
    padding: 0px;
    height: 180px;


}

.head1 {
    text-align: center;
    text-shadow: 3px 2px 50px rgb(109, 109, 109);
}

.head2 {
    margin-top: 30px;
    text-align: center;
}

.registerbox {

    margin-top: 90px;

    background-color: #d41717;
    text-align: center;
    border-radius: 40px;

}

.card {
    width: 400px;

    box-shadow: 1px 1px 100px#989898;
    margin: 0 auto;
    border-radius: 26px;
    padding: 40px 0px;
}

.card:hover {

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.card:not(:hover) {


    transition: transform 0.3s ease;
    transform: scale(1.0);
}

.info img {

    width: 80px;
    height: 80px;
}

.info {

    margin-bottom: 20px;
}

.submit {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: #7c92ff;
    border: none;
    outline: none;

}